/* Move down content */
html {
    padding-top: 0rem;
}

/* a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.fixed-bottom {
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1030;
    position: fixed;
    line-height: 50px;
    text-align: center;
    background-color: #343a40!important;
} */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    html {
        padding-top: 0rem;
    }

    h1 {
        font-size: 7.5rem;
        font-weight: 700;
        text-align: center;
        color: #252932;
        line-height: 150px;
        text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
    }

    .headline {
        text-align: center;
        font-size: 24px !important;
        font-weight: 400;
        line-height: 32px !important;
        letter-spacing: normal !important;
        font-family: 'Roboto', sans-serif !important;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    html {
        padding-top: 0rem;
    }

    h1 {
        font-size: 7.5rem;
        font-weight: 700;
        text-align: center;
        color: #252932;
        line-height: 150px;
        text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
    }

    .headline {
        text-align: center;
        font-size: 24px !important;
        font-weight: 400;
        line-height: 32px !important;
        letter-spacing: normal !important;
        font-family: 'Roboto', sans-serif !important;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    html {
        padding-top: 0rem;
    }

    h1 {
        font-size: 7.5rem;
        font-weight: 700;
        text-align: center;
        color: #252932;
        line-height: 150px;
        text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
    }

    .headline {
        text-align: center;
        font-size: 24px !important;
        font-weight: 400;
        line-height: 32px !important;
        letter-spacing: normal !important;
        font-family: 'Roboto', sans-serif !important;
    }
}
