Result
EDIT ON
 .tabs {
  position: relative;
  // set height to be even for all tab groups
  height: 180px;
  display: block;
  margin: 1em auto 0;
  width: 460px;
}

.tab {
  float: left;

  label {
    cursor: pointer;
    background: #c69;
    font-size: 1.2em;
    border-radius: 5px 5px 0 0;
    padding: .5em 1em;
  }

  [type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);

    &:focus + label {
      outline: 2px dotted #000;
    }

    &:checked ~ label {
      background: #c99;
    }

    &:checked ~ label ~ .content {
      z-index: 1;
    }
  }
}

.content {
  background: wheat;
  border: 1px solid #c69;
  border-radius: 0 5px 5px;
  padding: .5em 2em;
  position: absolute;
  width: 100%;
  top: 2em; left: 0; right: 0; bottom: 0;
}
